{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
{$admin_current_location = 'modules'}
{/block}

{block name="page-title"}{intl d="tntfrance.bo.default" l='TNTFrance configuration'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}TNTFrance{/block}

{block name="main-content"}
<div class="container" id="wrapper">
    <ul class="breadcrumb">
        <li><a href="{url path='/admin'}">{intl l="Home" d="tntfrance.bo.default"}</a></li>
        <li><a href="{url path='/admin/modules'}">{intl l="Modules" d="tntfrance.bo.default"}</a></li>
        <li>{intl l="TNTFrance configuration" d="tntfrance.bo.default"}</li>
    </ul>

    <div class="general-block-decorator">
        <div class="title title-without-tabs">
            {intl l="Configure tntfrance" d="tntfrance.bo.default"}
        </div>

        <div class="row">
            <div class="col-md-12">

                {if $success}
                <div class="alert alert-success">
                    {intl l="Configuration correctly saved" d="tntfrance.bo.default"}
                </div>
                {/if}

                {if $general_error}
                <div class="alert alert-danger">
                    {$general_error}
                </div>
                {/if}

                <ul class="nav nav-tabs" id="tabbed-menu">
                    <li class="{if $smarty.get.current_tab == general || !$smarty.get.current_tab}active{/if}"><a href="#general" data-toggle="tab">{intl l="General" d="tntfrance.bo.default"}</a></li>
                    <li class="{if $smarty.get.current_tab == weight}active{/if}"><a href="#weight" data-toggle="tab">{intl l="Prices and weights" d="tntfrance.bo.default"}</a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane {if $smarty.get.current_tab == general || !$smarty.get.current_tab}active in{else}fade clearfix{/if}" id="general">
                        {include file="includes/configuration-general-tab.html"}
                    </div>

                    <div class="tab-pane {if $smarty.get.current_tab == weight}active in{else}fade clearfix{/if}" id="weight">
                        {include file="includes/configuration-weight-tab.html"}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="javascript-initialization"}

{javascripts file='assets/js/bootstrap-switch/bootstrap-switch.js'}
<script src="{$asset_url}"></script>
{/javascripts}

{javascripts file='assets/js/bootstrap-editable/bootstrap-editable.js'}
<script src="{$asset_url}"></script>
{/javascripts}

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            var products = $('#products_enabled').val(),
                    options = $('#options_enabled').val(),
                    labelFormat = $('#label_format').val();

            $('input[name="product"]').val(products.split(","));
            $('input[name="option"]').val(options.split(","));

            $('input.label_format_stda4').prop("checked", (-1 !== labelFormat.indexOf("STDA4")));
            $('input.label_format_thermal').prop("checked", (-1 !== labelFormat.indexOf("THERMAL")));
            $('input.label_format_thermal_no_logo').prop("checked", (-1 !== labelFormat.indexOf("NO_LOGO")));
            $('input.label_format_thermal_rotate_180').prop("checked", (-1 !== labelFormat.indexOf("ROTATE_180")));

            //$('input[name="product"]').val(products.split(","));

            $("#configuration_form").on("submit", function() {
                var productsEnabled = $('input:checkbox[name=product]:checked').map(function() {
                    return this.value;
                }).get();
                var optionsEnabled = $('input:checkbox[name=option]:checked').map(function() {
                    return this.value;
                }).get();
                var labelFormatValue = [];

                $('#products_enabled').val(productsEnabled.join(','));
                $('#options_enabled').val(optionsEnabled.join(','));

                if ($('input.label_format_stda4').prop("checked")) {
                    labelFormatValue.push('STDA4');
                } else {
                    labelFormatValue.push('THERMAL');

                    if ($('input.label_format_thermal_no_logo').prop("checked")) {
                        labelFormatValue.push('NO_LOGO');
                    }
                    if ($('input.label_format_thermal_rotate_180').prop("checked")) {
                        labelFormatValue.push('ROTATE_180');
                    }
                }

                $('#label_format').val(labelFormatValue.join(','));
            });

            $('#free_shipping').on('change', function(){
                show_sheeping_configuration();
            });

            show_sheeping_configuration();

            function show_sheeping_configuration() {
                if ($('#free_shipping').is(':checked') === true) {
                    $('#no_free_shipping').addClass('hidden');
                } else {
                    $('#no_free_shipping').removeClass('hidden');
                }
            }

        });
    })(jQuery);
</script>
{/block}