{extends 'ajax-delivery-layout.tpl'}

{block name="title"}{intl l='TNT Depot'}{/block}

{block name="form"}
    <input type="hidden" name="tnt_pexcode" id="tnt_pexcode" value="{$data.pexCode}" class="tnt-control" />
    <input type="hidden" name="tnt_depot_zipcode" id="tnt_depot_zipcode" value="{$data.tnt_depot_zipcode}" class="tnt-control" />
    <input type="hidden" name="tnt_depot_city" id="tnt_depot_city" value="{$data.tnt_depot_zipcode}" class="tnt-control" />
    <input type="hidden" name="tnt_depot_address" id="tnt_depot_address" value="{$data.tnt_depot_address}" class="tnt-control" />
    <div class="row">
        <div class="form-group col-sm-4">
            <label for="tnt_contactLastName">{intl l='Last name'} <span class="required">*</span></label>
            <input type="text" name="tnt_contactLastName" id="tnt_contactLastName" value="{$data.tnt_contactLastName}" maxlength="19" class="form-control tnt-control">
        </div>
        <div class="form-group col-sm-4">
            <label for="tnt_contactFirstName">{intl l='First name'} <span class="required">*</span></label>
            <input type="text" name="tnt_contactFirstName" id="tnt_contactFirstName" value="{$data.tnt_contactFirstName}" maxlength="12" class="form-control tnt-control">
        </div>
        <div class="form-group col-sm-4">
            <label for="tnt_phoneNumber">{intl l='Phone number'} <span class="required">*</span></label>
            <input type="text" name="tnt_phoneNumber" id="tnt_phoneNumber" value="{$data.tnt_phoneNumber}" maxlength="10" class="form-control tnt-control" aria-required="true" required>
        </div>

        <div class="form-group col-sm-12">
            <label for="tnt_instructions">{intl l='Instructions'}</label>
            <textarea type="text" name="tnt_instructions" id="tnt_instructions" value="{$data.tnt_instructions}" row="3" class="form-control tnt-control"></textarea>
        </div>
    </div>

{/block}

{* map *}
{block name="body"}
<div class="row">
    <div class="col-md-8 col-sm-12">
        <div id="tnt-map"></div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="tnt-places"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 u-tnt-pt">
        <div class="input-group">
            <input name="tnt_department" id="tnt_department" value="{$data.tnt_department}" maxlength="6" class="form-control" placeholder="{intl l='Select an other department'}">
        <span class="input-group-btn">
            <button class="js-tnt-search-depot btn btn-default" type="button">{intl l='Search'}</button>
        </span>
        </div>
    </div>
</div>
{/block}
