<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<style type="text/css">
#tnt-map {
    height: 450px;
}
.tnt-places {
    height: 450px;
    overflow-y: scroll;
}

@media (min-width: 992px) {
    .tnt-places {
        margin-left: -30px;
    }
}

#tntfrance-services .required {
    margin: 0;
}

.tnt-place .tnt-popup {
    display: none;
}
.tnt-place-selected {
    background-color: #ddd;
}

.u-tnt-p0 {
    padding: 0 !important;
}

.u-tnt-p {
    padding: 8px 16px;
}
.u-tnt-pb {
    padding-bottom: 8px;
}
.u-tnt-pt {
    padding-top: 8px;
}
.u-tnt-pl {
    padding-left: 16px;
}
.u-tnt-pr {
    padding-right: 16px;
}
</style>